<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>练习</title>
    <style>
        #div1{background-color: black;text-align: center;}
        #c1{background-color: #ccc;}
        #c2{position: absolute;left: 0;top: 0;}
        #box{position: relative;width: 800px;}
    </style>
</head>
<body>
    <div id="div1">
        <div id="box">
            <canvas id="c1" width="800" height="600">
            
            </canvas>
            <canvas id="c2" width="800" height="600">
            
            </canvas>
        </div>
        
    </div>
</body>
</html>